= form_for(@user, url: user_confirmation_path, html: {class: 'form-stacked'}) do |f|
  %fieldset
    %legend Resend confirmation instructions
    = f.label :email
    = f.email_field :email

    .form-actions
      = f.submit 'Resend confirmation', class: 'btn btn-primary'

    = render partial: 'users/shared/links'
