= simple_form_for(@user, url: user_session_path) do |f|
  %fieldset
    %legend Sign in
    = f.input :email
    = f.input :password
    = f.input :remember_me, as: :boolean, inline_label: true, label: false
    .form-actions
      = f.button :submit, 'Sign In', class: 'btn-primary'

  = render partial: 'users/shared/links'
