= form_for(@user, url: user_session_path) do |f|
  %fieldset
    %legend Sign in
    = f.label :email
    = f.email_field :email

    = f.label :password
    = f.password_field :password

    = f.label :remember_me, class: 'checkbox' do
      = f.check_box :remember_me
      Remember Me

    .form-actions
      = f.submit 'Sign In', class: 'btn btn-primary'

  = render partial: 'users/shared/links'