= form_for(@user, url: user_session_path, html: {class: 'form-stacked'}) do |f|
  %fieldset
    %legend Sign in
    .clearfix
      = f.label :email
      .input
        = f.email_field :email, placeholder: 'Email'
    .clearfix
      = f.label :password
      .input
        = f.password_field :password, placeholder: 'Password'
    .clearfix
      %label
        = f.check_box :remember_me
        %span Remember me
    = f.submit 'Sign In', class: 'btn primary'
  = render partial: 'users/links'