%header.page-header
  %h1= @album.title
  = render('favorites/links', parent_resource: @album) if can?(:manage, Favorite)
  = render('albums/header_actions', album: @album) if can?(:manage, @album)

= render('images/form') if can?(:create, Image)

#thumbnails-wrapper
  %ol#albums.thumbnails
    = render partial: 'albums/album', collection: @children

  %ol#images.thumbnails{data: { toggle: 'modal-gallery', target: '#modal-gallery' }}
    = render partial: 'images/image', collection: @images
  = paginate @images

%section.row-fluid
  .span6
    - if can?(:create, Album)
      = simple_form_for(Album.new) do |f|
        %fieldset
          %legend New Child Album
          = render 'albums/form', f: f
          = f.hidden_field :parent_id, value: @album.id
          = f.button :submit, 'Create', class: 'btn-primary'

#comments.row-fluid
  %header.page-header
    %h3 Comments
  = render 'comments/form' if can?(:create, Comment)
  %ol.unstyled#comments-list
    = render partial: 'comments/comment', collection: @album.comments

= render 'images/modal'
