%h2.page-header
  = @album.title
  - if can?(:edit, @album) or can?(:destroy, @album)
    = render partial: 'containers/header_actions', locals: {container: @album}

- breadcrumbs(breadcrumb_paths)

= render 'images/form' if can? :create, Image

%ul.thumbnails{data: {toggle: 'modal-gallery', target: '#modal-gallery'}}
  = render partial: 'images/image', collection: @images
= paginate @images

= render 'images/modal'