%header.page-header
  %h1= @album.title
  = favorite_button_for(@album) if can?(:manage, Favorite)
  = render('header_actions', album: @album) if can?(:manage, @album)

= render('images/form') if can?(:create, Image)

#thumbnails-wrapper.row-fluid
  %ol#albums.thumbnails
    = render @children

  %ol#images.thumbnails{data: { toggle: 'modal-gallery', target: '#modal-gallery' }}
    = render @images
  = paginate @images

%section.row-fluid
  .span6
    - if can?(:create, Album)
      = simple_form_for(Album.new) do |f|
        %fieldset
          %legend New Child Album
          = render 'form', f: f
          = f.hidden_field :parent_id, value: @album.id
          = f.button :submit, 'Create', class: 'btn-primary'

#comments.row-fluid
  %header.page-header
    %h3 Comments
  = render 'comments/form' if can?(:create, Comment)
  - comments_list_for(@album)

= render 'images/modal'
