.page-header
  %h3= @album.title
%p Add Images:
= render 'images/form'
%ul.media-grid
  = render :partial => 'images/image', :collection => @images
= paginate @images

= link_to 'Edit', edit_category_album_path(@album)
\|
= link_to 'Destroy', category_album_path(@album), :confirm => 'Are you sure?', :method => :delete
