%header.page-header
  %h1= @album.display_name
  = render('header_actions', album: @album)

= render('images/form') if can?(:create, Image)

= render('view_options', album: @album)

#thumbnails-wrapper.row-fluid
  %ol#albums.thumbnails
    = render partial: @children, cache: true

  %ol#images.thumbnails{data: { toggle: 'modal-gallery', target: '#modal-gallery' }}
    = render partial: @images, cache: true
  = paginate @images
  - unless @images.empty?
    %span.muted= page_entries_info(@images)

%section.row-fluid
  .span6
    - if can?(:create, Album)
      = simple_form_for(Album.new) do |f|
        %fieldset
          %legend New Child Album
          = render 'form', f: f
          = f.hidden_field :parent_id, value: @album.id
          = f.button :submit, 'Create', class: 'btn-primary'

#comments.row-fluid
  %header.page-header
    %h3 Comments
  = render('comments/form') if can?(:create, Comment)
  - comments_list(@comments, @album)

= render 'images/modal'
