= form_for('user', :url => edit_user_password_path, html: {class: 'form-stacked'}) do |f|
  %fieldset
    %legend Change password
    = f.hidden_field :reset_password_token
    .clearfix
      = f.label :password, 'New Password'
      .input
        = f.password_field :password
    .clearfix
      = f.label :password_confirmation, 'Confirm new password'
      .input
        = f.password_field :password_confirmation
    = f.submit 'Change password', :class => 'btn primary'
  = render :partial => "users/shared/links"
