= form_for('user', :url => user_password_path, html: {class: 'form-stacked'}) do |f|
  %fieldset
    %legend Forgot your password?
    .clearfix
      = f.label :email
      .input
        = f.email_field :email, placeholder: 'Email'
    = f.submit 'Reset password', :class => 'btn primary'
  = render :partial => "users/shared/links"