= form_for(@user, url: user_password_path) do |f|
  %fieldset
    %legend Forgot your password?
    = f.label :email
    = f.email_field :email

    .form-actions
      = f.submit 'Reset password', class: 'btn btn-primary'

  = render partial: 'users/shared/links'
