= form_for(@category) do |f|
  %fieldset
    %legend New root category
    .clearfix
      = f.label :title
      .input
        = f.text_field :title
    .clearfix
      = f.label :description
      .input
        = f.text_field :description
    .clearfix
      = f.label :hidden
      .input
        = f.check_box :hidden
    .actions
      = f.submit 'Create', class: 'btn btn-primary'
