%h2.page-header= @category.title
= link_to('Edit |', edit_category_path(@category)) if can? :edit, Category
= link_to 'Destroy', @category, confirm: 'Are you sure?', method: :delete if can? :destroy, Category

- unless @category.child_categories.empty?
  %hr/
  %h3.page-header Subcategories
  %ul.media-grid
    = render partial: 'categories/category', collection: @category.child_categories

%hr/

%h3.page-header Albums
%ul.media-grid
  = render partial: 'albums/album', collection: @category.albums

- if can? :create, Category
  %hr/
  = form_for [@category, Category.new], html: {class: 'new_category form-stacked'} do |f|
    %fieldset
      %legend New Subcategory
      .clearfix
        = f.label :title
        = f.text_field :title
      .clearfix
        = f.label :description
        = f.text_field :description
      = f.submit 'Create', class: 'btn primary'

- if can? :create, Album
  %hr/
  = form_for [@category, Album.new], html: {class: 'new_album form-stacked'} do |f|
    %fieldset
      %legend New Sub-Album:
      .clearfix
        = f.label :title
        = f.text_field :title
      .clearfix
        = f.label :description
        = f.text_field :description
      = f.submit 'Create', class: 'btn primary'