%h2.page-header
  = @category.title
  %span.header-actions
    = link_to('Edit', edit_category_path(@category)) + " | " if can? :edit, Category
    = link_to('Destroy', @category, confirm: 'Are you sure?', method: :delete) if can? :destroy, Category

- breadcrumbs(breadcrumb_paths)

- unless @child_categories.empty?
  %hr/
  %h3 Subcategories
  %hr/
  %ul.thumbnails
    = render partial: 'categories/category', collection: @child_categories

- unless @category_albums.empty?
  %hr/
  %h3 Albums
  %hr/
  %ul.thumbnails
    = render partial: 'albums/album', collection: @category_albums

%hr/
.row
  .span3
    - if can? :create, Category
      = form_for [@category, Category.new], html: {class: 'form-stacked'} do |f|
        %fieldset
          %legend New Subcategory
          .clearfix
            = f.label :title
            = f.text_field :title
          .clearfix
            = f.label :description
            = f.text_field :description
          .clearfix
            = f.label :hidden
            = f.check_box :hidden
          = f.submit 'Create', class: 'btn primary'
  .span3
    - if can? :create, Album
      = form_for [@category, Album.new], html: {class: 'form-stacked'} do |f|
        %fieldset
          %legend New Sub-album:
          .clearfix
            = f.label :title
            = f.text_field :title
          .clearfix
            = f.label :description
            = f.text_field :description
          .clearfix
            = f.label :hidden
            = f.check_box :hidden
          = f.submit 'Create', class: 'btn primary'