%h2.page-header
  = @category.title
  %span.header-actions
    = link_to('Edit', edit_category_path(@category)) + " | " if can? :edit, Category
    = link_to('Destroy', @category, confirm: 'Are you sure?', method: :delete) if can? :destroy, Category

- breadcrumbs(breadcrumb_paths)

- unless @children.empty?
  %ul.thumbnails
    = render partial: 'shared/container', collection: @children

%hr/
.row
  .span3
    - if can? :create, Category
      = form_for(Category.new, html: {class: 'form-stacked'}) do |f|
        %fieldset
          %legend New Subcategory
          .clearfix
            = f.label :title
            = f.text_field :title
          .clearfix
            = f.label :description
            = f.text_field :description
          .clearfix
            = f.label :hidden
            = f.check_box :hidden
            = f.hidden_field :parent_id, value: @category.id
            = f.submit 'Create', class: 'btn btn-primary'

  .span3
    - if can? :create, Album
      = form_for(Album.new, html: {class: 'form-stacked'}) do |f|
        %fieldset
          %legend New Sub-album:
          .clearfix
            = f.label :title
            = f.text_field :title
          .clearfix
            = f.label :description
            = f.text_field :description
          .clearfix
            = f.label :hidden
            = f.check_box :hidden
            = f.hidden_field :parent_id, value: @category.id
          = f.submit 'Create', class: 'btn btn-primary'
