%header.page-header
  %h1= @category.title
  = render partial: 'containers/header_actions', locals: {container: @category} if can?(:manage, @category)

- unless @children.empty?
  %ul.thumbnails
    = render partial: 'containers/container', collection: @children
  %hr

%section.row-fluid
  .span6
    - if can? :create, Category
      = simple_form_for(Category.new) do |f|
        %fieldset
          %legend New Subcategory
          = render partial: 'containers/form', locals: {f: f}
          = f.hidden_field :parent_id, value: @category.id
          = f.button :submit, 'Create', class: 'btn-primary'

  .span6
    - if can? :create, Album
      = simple_form_for(Album.new) do |f|
        %fieldset
          %legend New Child Album:
          = render partial: 'containers/form', locals: {f: f}
          = f.hidden_field :parent_id, value: @category.id
          = f.button :submit, 'Create', class: 'btn-primary'