!!!
%html
  %head
    %meta{charset: 'UTF-8'}
    %title Soshi Gallery
    = stylesheet_link_tag 'application', media: 'all', data: { turbolinks_track: true }
    /[if lt IE 9]
      = javascript_include_tag '//html5shiv.googlecode.com/svn/trunk/html5.js'
    = auto_discovery_link_tag(:atom, root_url(format: :atom))
    = csrf_meta_tags
  %body{class: page_class}
    = render 'shared/top_bar'
    .container-fluid
      #content.row-fluid
        - flash_messages
        = yield
      %footer
        %p © Gray 2013
    = javascript_include_tag 'application', data: { turbolinks_eval: false }
    - if current_user.try(:admin?)
      = javascript_include_tag 'admin', data: { turbolinks_eval: false }
