!!!
%html
  %head
    %title Soshi Gallery
    = stylesheet_link_tag 'application'
    /[if lt IE 9]
      = stylesheet_link_tag 'http://html5shim.googlecode.com/svn/trunk/html5.js'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body{class: controller.controller_name}
    .topbar
      = render 'shared/top_bar'
    .container
      .content
        - flash_messages
        = yield
        = render 'shared/footer'
    :javascript
      authenticity_token = "#{form_authenticity_token}";
      session_token = "#{request.session_options[:id]}";
