!!!
%html
  %head
    %meta{charset: 'UTF-8'}
    %title Soshi Gallery
    = stylesheet_link_tag 'application'
    /[if lt IE 9]
      = javascript_include_tag '//html5shiv.googlecode.com/svn/trunk/html5.js'
    = csrf_meta_tags
    = yield :head
  %body{class: page_class}
    = render 'shared/top_bar'
    .container-fluid
      #content.row-fluid
        - flash_messages
        = yield
      %footer
        %p © Gray 2013
    = javascript_include_tag 'application', data: { turbolinks_eval: false }
