= simple_form_for(@user, url: user_registration_path, method: :put) do |f|
  %fieldset
    %legend Edit User
    = f.input :email
    = f.input :password, hint: "Leave blank if you don't want to change it."
    = f.input :password_confirmation
    = f.input :current_password
    .form-actions
      = f.button :submit, 'Update', class: 'btn-primary'
      = link_to 'Cancel', :back, class: 'btn'

  = render partial: 'users/shared/links'