= form_for('user', url: edit_user_registration_path, html: {class: 'form-stacked'}) do |f|
  %fieldset
    %legend Edit user
    .clearfix
      = f.label :email
      .input
        = f.email_field :email
    .clearfix
      = f.label :password
      .input
        = f.password_field :password
        %span.help-inline (leave blank if you don't want to change it)
    .clearfix
      = f.label :password_confirmation
      .input
        = f.password_field :password_confirmation
    .clearfix
      = f.label :current_password
      .input
        = f.password_field :current_password
        %span.help-inline (we need your current password to confirm your changes)
    = f.submit 'Update', class: 'btn primary'
= link_to 'Back', :back