= form_for(@user, url: user_registration_path) do |f|
  %fieldset
    %legend Sign up
    = f.label :email
    = f.email_field :email

    = f.label :password
    = f.password_field :password

    = f.label :password_confirmation
    = f.password_field :password_confirmation

    .form-actions
      = f.submit 'Sign Up', class: 'btn btn-primary'

  = render partial: 'users/shared/links'