= simple_form_for(@user, url: user_registration_path) do |f|
  %fieldset
    %legend Sign Up
    = f.input :email
    = f.input :password
    = f.input :password_confirmation
    .form-actions
      = f.button :submit, 'Sign Up', class: 'btn-primary'

  = render partial: 'users/shared/links'