= form_for('user', :url => user_registration_path, html: {class: 'form-stacked'}) do |f|
  %fieldset
    %legend Sign up
    .clearfix
      = f.label :email
      .input
        = f.email_field :email, placeholder: 'Email'
    .clearfix
      = f.label :password
      .input
        = f.password_field :password, placeholder: 'Password'
    .clearfix
      = f.label :password_confirmation
      .input
        = f.password_field :password_confirmation, placeholder: 'Password Confirmation'
    = f.submit 'Sign up', :class => 'btn primary'
  = render :partial => "users/shared/links"